body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffd8e4;
}

.header {
  background: linear-gradient(to right, #e91e63, #f06292);
  color: white;
  text-align: center;
  padding: 20px 0;
  justify-content: center;
  text-align: center;
}

.titulo-principal {
  font-size: 2.5em;
  margin: 0;
  text-align: center;
  justify-content: center;
}

.subtitulo {
  font-size: 1.2em;
  margin: 5px 0 0 0;
  text-align: center;
}

.navegacion {
  background-color: #940145;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  text-align: center;
}

.menu-item {
  margin: 0 15px;
  position: relative;
}

.menu-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.submenu {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #ffc1e3;
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.menu-item:hover .submenu {
  display: block;
}

.imagen-seccion {
  text-align: center;
  padding: 20px;
}

.imagen {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.subtitulo-seccion {
  margin-top: 10px;
  font-size: 1.2em;
}

.formulario-seccion {
  padding: 20px;
}

.contenedor-formulario {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  align-items: start;
  justify-content: center;
  text-align: center;
}

.caja.lateral {
  background-color: rgba(236, 96, 131, 0.3); 
  height: 300px;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*.imagenlateral{
width: 100%;
height: auto;
max-width: 100%;
border: 2px solid #e91e63;
padding: 10px;
box-sizing: bo;*/





.formulario {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  border: 2px burlywood solid;
}

.formulario-leyenda {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.formulario input[type="text"],
.formulario select {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.boton-enviar {
  background-color: #e91e63;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boton-enviar:hover {
  background-color: #c2185b;
}

.articulo {
  padding: 20px;
  text-align: center;
}

.video {
  width: 80%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

.mapa {
  width: 80%;
  height: 300px;
  border: 0;
  border-radius: 10px;
}