body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  header  {
    background: linear-gradient(to right, #e91e63, #f06292);
    color: white;
    text-align: center;
    padding: 20px 0;
    justify-content: center;
    text-align: center;
  }
     .NOTA{ 
        background-color: #940145;
        height: auto;
        width: 100%;
        color: antiquewhite;
        text-align: center;
        padding-top: 0%;
     }
  header h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  header p {
    margin-top: 10px;
    font-size: 1.2em;
  }
  
  .contenedor-categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
    gap: 20px;
  }
  
  .categoria {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .categoria:hover {
    transform: scale(1.05);
  }
  
  .categoria h2 {
    color: #e91e63;
    margin-bottom: 10px;
  }
  
  .categoria p {
    font-size: 1em;
    color: #333;
  }
  
  .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #da244b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #c02968;
  }
  
  footer {
    background-color: #f35793;
    color: white;
    text-align: center;
    padding: 15px 10px;
    margin-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
  }